<!-- search.html -->

{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
  we have wide range of products for you.
{% endblock %}

{% block title %}
  Search
{% endblock %}

{% block content %}
<div>
  <p class="text-center my_search_text">You have searched for: <b>"{{ query }}"</b></p>
</div>

<div class="container">
  <div class="row mx-auto">
    {% if products %}
      {% for product in products %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
          <div class="card text-center" style="...">
            <a href="{{ product.get_url }}"><img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}"></a>
            <div class="card-body">
              <h4 class="card-title">{{ product.name }}</h4>
              <p class="card-text">{{ product.price }}</p>
            </div>
          </div>
        </div>
      {% empty %}
        <div class="row mx-auto">
          <div class="text-center my_search_text">0 results found</div>
        </div>
      {% endfor %}
    {% else %}
      <div class="row mx-auto">
        <div class="text-center my_search_text">No products found</div>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
